body {
    background-color: rgb(250, 241, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Calculator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 50px;
    padding-top: 10px;
}

.Buttons {
    display: flex;
    flex-flow: row wrap;
    width: 240px;
    border: 10px solid rgb(91, 91, 91);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 1px;
    background-color: rgb(175, 175, 175);
}

.Operator {
    background-color: lightblue;
}

.Equals {
    background-color: lightgreen;
}

Button {
    width: 60px;
    height: 75px;
    border: 2px solid gray;
    border-radius: 5px;
}

#Display {
    border: 10px solid rgb(91, 91, 91);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(233, 247, 247);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: none;
    width: 240px;
    height: 60px;
}

.Display-Content {
    display: flex;
    align-items: stretch;
    font-size: 28px;
    padding: 10px;
}

#Back-Space {
    background-color: rgb(179, 182, 186);
}

#Clear {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    font-size: 32px;
    width: 180px;
    background-color: rgb(250, 187, 162);
}

#Page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.Directions {
    padding: 80px 50px;
    padding-top: 40px;
    min-width: 227.5px;
}

#Heading {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(177, 216, 243);
    background-color: rgb(3, 57, 90);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 0px;
    border: 5px solid rgb(91, 91, 91);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.Content {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 57, 90);
    background-color: rgb(212, 232, 245);
    margin: 0px;
    padding: 10px 20px;
    border: 5px solid rgb(91, 91, 91);
    border-top: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.Title {
    display: flex;
    margin: 10px;
    justify-content: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 57, 90);
    background-color: rgb(212, 232, 245);
    border: 5px solid rgb(3, 57, 90);
    border-radius: 10px;
    width: 450px;
}